<section class="breadcrumbs">
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="forums.html">Forums</a></li>
            <li class="active">Forum Create</li>
          </ol>
        </div>
      </section>
    
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
    
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
              </ul>
    
              <form class="tab-content p-t-20">
                <div class="tab-pane active" id="forum" role="tabpanel">
                  <!-- form -->
                  <div class="form-group">
                    <label for="title">Topic Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter Title">
                    <small class="form-text">Others will se when reach your topic (max 50 character).</small>
                  </div>
                  <div class="form-group">
                    <label for="description">Short Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Description">
                    <small class="form-text">Short Description about your topic content.</small>
                  </div>
                  <div class="form-group">
                    <label for="thread">Thread</label>
                    <select id="thread" class="form-control js-example-basic">
                    <option value="gameforest">Gameforest</option>
                    <option value="playstation-4">Playstation 4</option>
                    <option value="xbox-one">Xbox One</option>
                    <option value="pc">Pc</option>
                    <option value="steam">Steam</option>
                    <option value="fps">FPS</option>
                  </select>
                    <small class="form-text">Short Description about your topic content.</small>
                  </div>


            

                  <div class="row m-t-80">
                        <div class="col-lg-12">
                          <div class="p-r-30">
                            <h5>Textual Inputs</h5>
                            <p class="m-b-40">Most common form control, text-based input fields. Includes support for all HTML5 types.</p>
                            <form>
                              <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Text</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="text" value="yakuzi" id="example-text-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Search</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="email" value="yakuthemes@example.com" id="example-email-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-url-input" class="col-sm-2 col-form-label">URL</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="url" value="https://yakuthemes.com" id="example-url-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-password-input" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="password" value="yakuzitheking" id="example-password-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-number-input" class="col-sm-2 col-form-label">Number</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="number" value="42" id="example-number-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Datetime</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="datetime-local" value="2017-08-19T13:45:00" id="example-datetime-local-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-date-input" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="date" value="2017-08-19" id="example-date-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-month-input" class="col-sm-2 col-form-label">Month</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="month" value="2017-08" id="example-month-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-week-input" class="col-sm-2 col-form-label">Week</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="week" value="2017-W33" id="example-week-input">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="example-time-input" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                  <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>                       
                      </div>






                  <div class="form-group m-t-25">
                    <div id="summernote"></div>
                    <small class="form-text">Others will se when reach your topic (max 50 character).</small>
                  </div>
                </div>
    
                <div class="tab-pane" id="options" role="tabpanel">
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="date">Publish Date:</label>
                      <input type="text" class="form-control flatpickr flatpickr-input active" id="date" placeholder="Pick a date">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Attachment</label>
                    <div class="row">
                      <div class="col-8">
                        <label class="custom-file">
                        <input type="file" id="file2" class="custom-file-input">
                        <span class="custom-file-control"></span>
                      </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Enable Replies</label>
                    <div><input type="checkbox" class="js-switch" checked></div>
                  </div>
                </div>
                <div class="m-t-30">
                  <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- /main -->










        <div class="col-md-9 col-sm-10">
                <section id="profile">
                    <header><h1>Profile</h1></header>
                    <div class="account-profile">
                        <div class="row">
                                <!-- <div class="col-md-3 col-sm-3">
                                        <img alt="" class="image" src="assets/img/agent-01.jpg">
                                    </div> -->
                            <div class="col-md-3 col-sm-3">
                                <img alt="" class="image" src="https://sce-ogun.sabiogun.jtcheck.com/backend/public/upload/uploads/{{response.image}}">
                            </div>
                            <!-- ngModel   value="{{firstname}}" -->
                            <div class="col-md-9 col-sm-9">

                                <form [formGroup]="submissionForm" >
                                      <label>Update profile</label><br>
                                      <input type="file" name="file"  (change)="uploadFile($event)">
                                     
                                    <section id="contact">
                                        
                                            <dt><label for="form-account-name">First Name:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" formControlName="firstname"> 
                                            </div></dd>

                                            <dt><label for="form-account-name">Last Name:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" formControlName="lastname" >
                                               </div></dd>

                                               <dt><label for="form-account-name">Middle Name:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" formControlName="middlename" >
                                               </div></dd>

                                               <dt><label for="form-account-name">Email:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" formControlName="email" >
                                               </div></dd>
                                               <dt><label for="form-account-name">Family:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" formControlName="family" >
                                               </div></dd>
                                               <dt><label for="form-account-name">About me:</label></dt>
                                            <dd><div class="form-group ">
                                                    <input type="text" rows="5" formControlName="familybackground" >
                                               </div></dd>
                                               <dt><label for="form-account-phone">Phone:</label></dt>
                                            <dd><div class="form-group">
                                                <input type="text" formControlName="phone" >
                                            </div><!-- /.form-group --></dd>
                                            <dt><label for="form-account-skype">Gender:</label></dt>
                                            <dd><div class="form-group">
                                                <input type="text" formControlName="gender" >
                                            </div><!-- /.form-group --></dd>
                                            <dt><label for="form-account-skype">Town:</label></dt>
                                            <dd><div class="form-group">
                                                <input type="text"   formControlName="town">
                                            </div><!-- /.form-group --></dd>

                                                    <!-- <input type="text" formControlName="firstname">
                                                    <input type="text" formControlName="lastname"> -->
                                                    <div class="form-group clearfix">
                                                        <button (click)="onSubmit1()" [disabled]= "disabled"  class="btn pull-right btn-default" id="account-submit">
                                                            <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> {{sav}}</button>
                                                    </div>
                                                    <!-- <button (click)="onSubmit1()">SUBMIT</button> -->
                                            
                                    </section><br>
                                </form>                                    
                                    
                            </div><!-- /.col-md-9 -->
                        </div><!-- /.row -->
                    </div><!-- /.account-profile -->
                </section><!-- /#profile -->
            </div><!-- /.col-md-9 -->

        
       
