/* .hero-review{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{res.t_image}}');
    background-position:50% 50%;
  } */