 <!-- main -->
 <section class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="blog.html">Category</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
</section>   

<section class="hero hero-review" style="background-image: url('assets/img/SC.jpg');">
<div class="overlay"></div>
<div class="container">
<div class="hero-block">
  <!-- <div class="chart easypiechart m-b-20" data-percent="85" data-scale-color="#e3e3e3"><span>{{catname}}</span></div> -->
  <h2 class="hero-title">{{title}}</h2>
  <!-- <p>Uncharted 4: A Thief's End will explore what it means when Drake is forced back into the world of thieves.</p> -->
  <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20"  data-lightbox role="button">Watch Review <i class="fa fa-play"></i></a>
  <a class="btn btn-outline-default btn-lg btn-shadow btn-rounded m-l-10 m-t-20"  role="button">Write Review <i class="fa fa-pencil"></i></a>
</div>
</div>
</section>
<section class="toolbar toolbar-links" data-fixed="true">
<div class="container">
<h5>{{title}}</h5>
<ul class="toolbar-nav">
  <li><a routerlink="" active (click)="swip('post')">Articles</a></li>
  <!-- <li class="active"><a href="reviews.html">Reviews</a></li> -->
  <li><a routerlink="" (click)="swip('mapv')">Map</a></li>
  <li><a routerlink="" (click)="swip('image')">Images</a></li>
  <li><a routerlink="" (click)="swip('video')">Videos</a></li>
  <li><a routerlink="" (click)="swip('stream')">Streams</a></li>        
  <li><a routerlink="" (click)="swip('contribute')">Contribute</a></li>
</ul>
</div>
</section>
<section class="p-t-35 p-b-0" *ngIf="post">
<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <!-- post -->
        <div class="post post-single" *ngIf="post">           

          <div class="post-header">
                  <div>
                  <a >
                    <img [src]="uimage" alt="">
                  </a>
                  </div>
                  <div>
                    <h2 class="post-title">
                          <h2 class="post-title">{{title}} </h2>                                
                    </h2>
                    <a class="btn btn-secondary float-right social-share" (click)="follow(res.id)" role="button">Folllow</a>
                    <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> {{res.created_at}} by <a href="profile.html">{{name}}</a></span>
                          <span><a href="#comments"><i class="fa fa-comment-o"></i> {{res.comment_count}} comments</a></span>
                    </div>
                  </div>
                </div> 


          <div class="post-thumbnail">
                  <img  src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{res.t_image}}" alt="">
                </div>
        
          <div id="description" *ngFor="let r of contents">
                  <h5>{{r.header}}</h5>
                  <p style="font-size: 18px; align-self: auto; align-content: center; white-space: pre-line; "> {{r.content}} </p>                                
              </div><!-- /#description -->

        </div>
      <!-- /.post -->
      <div class="post-actions no-border">
        <div class="post-tags">
          <a href="#">#playstation-4</a>
          <a href="#">#uncharted-4</a>
          <a href="#">#nathan-drake</a>
          <a href="#">#open-world</a>
          <a href="#">#action</a>
        </div>
        <div class="social-share">
            <a class="btn btn-social btn-info btn-circle" (click)="likes(res.id)" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-thumbs-o-up"></i></a>
            <span>{{res.like}}</span>
  
          <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
          <span></span>
          <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
        </div>        
      </div>
    </div>

    <div class="col-1 hidden-md-down">
      <!-- widget share -->
      <div class="widget widget-share" data-fixed="widget">
        <div class="widget-block">
          <span>{{res.like}}</span><br>
          <a class="btn btn-social btn-info btn-circle" (click)="likes(res.id)" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-thumbs-o-up"></i></a>
          <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="right" role="button"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="right" role="button"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section *ngIf="post" class="bg-image bg-image-sm" style="background-image: url('assets/img/SC.jpg');">
<div class="overlay-dark"></div>
<div class="container">
  <div class="review">
    <div class="row">
      <div class="col-12 col-sm-10">
        <h2 class="review-title">Contributors</h2>
        <p>Melee-focused action games have spent years enacting the fantasy of engaging in armed combat, fortunately sparing us the hours. Fortunately, For Honor comes with a suite of options and modes to get you up to speed in each class relatively
          quickly.</p>
      </div>
      <div class="col-12 col-sm-2">
        <!-- <div class="chart easypiechart" data-percent="85" data-scale-color="#e3e3e3"><span>85</span>%</div> -->
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-lg-5">
          <div class="review-good">
              <h5>Story:</h5>
              <p *ngFor="let r of contributes"><i>"{{r.header}}":</i><a>contributor Name {{r.firstname}} {{r.middlename}} {{r.lastname}}</a>, {{r.created_at}}</p>
              <!-- <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p>
              <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p> -->
            </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="review-good">
              <h5>Image:</h5>
              <p *ngFor="let r of cgallery"><i>"{{r.name_title}}":</i><a>contributor Name {{r.firstname}} {{r.middlename}} {{r.lastname}}</a>, {{r.created_at}}</p>
              <!-- <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p> -->
              <!-- <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p> -->
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="review-bad">
              <h5>Video:</h5>
              <!-- <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p>
              <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p>
              <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="p-t-25" *ngIf="post">
<div class="container">
  <div class="row">
    <div class="col-lg-9">
        <div id="comments" class="comments anchor">
            <div class="comments-header">
              <h5><i class="fa fa-comment-o m-r-5"></i> Comments ({{res.comment_count}})</h5>
              <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sorted by Best <span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item active" href="#">Best</a>
                  <a class="dropdown-item" href="#">Latest</a>
                  <a class="dropdown-item" href="#">Oldest</a>
                  <a class="dropdown-item" href="#">Random</a>
                </div>
              </div>
            </div>
            <a class="btn btn-primary text-left m-t-15 btn-block" href="#comments" role="button"><i class="fa fa-spinner fa-pulse m-r-5"></i> Load more 4 comments</a>
            <ul>
              <li>
                <div class="comment" *ngFor="let r of comment">
                  <div class="comment-avatar">
                    <a href="profile.html"><img alt="" src="https://sce-ogun.sabiogun.jtcheck.com/backend/public/upload/uploads/{{r.image}}"></a>
                    <a class="badge badge-primary" href="profile.html" data-toggle="tooltip" data-placement="bottom" title="Add as friend"><i class="fa fa-user-plus"></i></a>
                  </div>
                  <div class="comment-post">
                    <div class="comment-header">
                      <div class="comment-author">
                        <h5><a href="profile.html">{{r.firstname}}</a></h5>
                        <span>{{r.lastname}} {{r.middlename}} </span>
                      </div>
                      <div class="comment-action">
                        <div class="dropdown float-right">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" >Moderate</a>
                            <a class="dropdown-item" >Embed</a>
                            <a class="dropdown-item" >Report</a>
                            <a class="dropdown-item" >Mark as spam</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>{{r.comment}}.</p>
                    <div class="comment-footer">
                      <ul>
                        <li><a ><i class="fa fa-heart-o"></i> Like</a></li>
                        <li><a ><i class="icon-reply"></i> Reply</a></li>
                        <li><a ><i class="fa fa-clock-o"></i> 3 hours ago</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ul>
                  <li>
                    <div class="comment">
                      <div class="comment-avatar"><img src="img/user/user-2.jpg" alt=""></div>
                      <div class="comment-post">
                        <div class="comment-header">
                          <div class="comment-author">
                            <h5><a href="profile.html">Elizabeth</a></h5>
                            <span>Member</span>
                          </div>
                          <div class="comment-action">
                            <div class="dropdown float-right">
                              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" >Moderate</a>
                                <a class="dropdown-item" >Embed</a>
                                <a class="dropdown-item" >Report</a>
                                <a class="dropdown-item" >Mark as spam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Please also consider replacing Battles with Blast (in Skirmish): it can use the same AI and would be much more fun (tokens are annoying and maps are limited)!</p>
                        <div class="comment-footer">
                          <ul>
                            <li><a ><i class="fa fa-heart-o"></i> Like</a></li>
                            <li><a ><i class="icon-reply"></i> Reply</a></li>
                            <li><a ><i class="fa fa-clock-o"></i> 24 minutes ago</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>                 
            </ul>
            <form  role="form" id="form-blog-reply"  class="clearfix" #commentForm=ngForm (ngSubmit)="onSubmit()">
              <h5>Leave a comment</h5>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Your Comment" [(ngModel)]="form.comment" name="comment" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]= "disable" >
                    <i id="loader2" *ngIf="disable"  class="fa fa-spin fa-spinner"></i>Submit Comment</button>
            </form>
          </div>
    </div>
    <div class="col-lg-3">
      <div class="sidebar">
        <!-- widget post  -->
        <div class="widget widget-post">
          <h5 class="widget-title">Recommends</h5>
          <a href="review-post.html"><img src="https://i1.ytimg.com/vi/4BLkEJu9szM/mqdefault.jpg" alt=""></a>
          <h4><a href="review-post.html">Titanfall 2's Trophies Only Have 3 Earned Through Multiplayer</a></h4>
          <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed ante facilisis efficitur.</p>
        </div>
        <!-- /widget post -->

        <!-- widget facebook -->
        <div class="widget">
          <h5 class="widget-title">Follow Us on Facebook</h5>
          <div id="fb-root"></div>
          <script async="" src="https://www.google-analytics.com/analytics.js"></script>
          <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
          <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
          <div class="fb-page" data-href="https://www.facebook.com/yakuthemes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
        </div>
        <!-- /widget facebook -->

        <!-- widget video -->
        <div class="widget widget-video">
          <h5 class="widget-title">New Video</h5>
          <div class="widget-img">
            <a >
            <img src="https://i1.ytimg.com/vi/neIfY3VoPXo/mqdefault.jpg" alt="">
          </a>
            <span>2:49</span>
            <a class="video-play-icon" >
            <i class="fa fa-play"></i>
          </a>
          </div>
          <h4>
            <a >The Witcher 3: Wild Hunt The Sword Of Destiny Gameplay Trailer</a>
          </h4>
          <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
          <span><i class="fa fa-eye"></i> 723x</span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>










<section *ngIf="mapv">
<div class="container">
<div class="row">
 
  <div class="col-lg-11">
    <!-- main --> 
        <div class="post post-single" >
          <div id="map" style="width:100%;height:280px;"></div>
        </div>
      </div>
   </div>
</div>
</section>

<section *ngIf="imgs">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-11">

        <div class="post post-single" >
          <div class="row row-3 figure-effect">
              <div class="col-12 col-sm-6 col-md-4" *ngFor="let r of gallery">
                        <figure>
                          <div class="figure-img">
                            <a href="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.image_name}}" data-lightbox='{"disqus": true, "gallery": "uncharted"}'>
                            <img src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{r.image_name}}" alt="">
                          </a>
                            <a class="figure-likes" >32</a>
                          </div>
                        </figure>
                      </div>
            
          
          </div>
        </div>
        </div>
        </div>
        </div>
</section>


<section *ngIf="video">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-11">

        <div class="post post-single" >
          <!-- main -->
  <section class="bg-image" style="background-image: url('https://img.youtube.com/vi/K5tRSwd-Sc0/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="video-play" data-src="https://www.youtube.com/embed/i8qzBkHjk_0?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
        <div class="embed-responsive embed-responsive-16by9">
          <img class="embed-responsive-item" src="https://img.youtube.com/vi/K5tRSwd-Sc0/maxresdefault.jpg">
          <div class="video-caption">
            <h5>For Honor: Walkthrough Gameplay Warlords</h5>
            <span class="length">5:32</span>
          </div>
          <div class="video-play-icon">
            <i class="fa fa-play"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-secondary p-t-15 p-b-5 p-x-15">
    <div class="owl-carousel owl-videos">
      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i1.ytimg.com/vi/GaERL8Nrl9k/mqdefault.jpg" alt="Tom Clancy's Ghost Recon: Wildlands">
        </a>
          <div class="card-meta">
            <span>4:32</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Tom Clancy's Ghost Recon: Wildlands</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> 2 hours ago</span>
            <span>423 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i1.ytimg.com/vi/mW4LMCtoIkg/mqdefault.jpg" class="card-img-top" alt="Anthem Official Gameplay Reveal">
        </a>
          <div class="card-meta">
            <span>6:46</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Anthem Official Gameplay Reveal</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> 2 weeks ago</span>
            <span>447 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i1.ytimg.com/vi/-PohBqV_i7s/mqdefault.jpg" class="card-img-top" alt="Shadow of War Gameplay Walkthrough">
        </a>
          <div class="card-meta">
            <span>9:58</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Shadow of War Gameplay Walkthrough</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> March 10, 2017</span>
            <span>914 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i1.ytimg.com/vi/feqIj5PaqCQ/mqdefault.jpg" class="card-img-top" alt="Call of Duty WW2 Multiplayer Gameplay">
        </a>
          <div class="card-meta">
            <span>4:32</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Call of Duty WW2 Multiplayer Gameplay</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> 3 days ago</span>
            <span>423 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i.ytimg.com/vi/N1NsF9c90f0/mqdefault.jpg" alt="Final Fantasy VII Remake">
        </a>
          <div class="card-meta">
            <span>3:05</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Final Fantasy VII Remake</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> 2 days ago</span>
            <span>589 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i.ytimg.com/vi/lQXpDL3SNWQ/mqdefault.jpg" class="card-img-top" alt="Spider-Man Official 4K Trailer">
        </a>
          <div class="card-meta">
            <span>3:07</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Spider-Man Official 4K Trailer</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> 2 weeks ago</span>
            <span>1798 views</span>
          </div>
        </div>
      </div>

      <div class="card card-video">
        <div class="card-img">
          <a href="video-post.html">
          <img src="https://i1.ytimg.com/vi/9EzRBzdf--g/mqdefault.jpg" alt="METRO EXODUS Gameplay Trailer">
        </a>
          <div class="card-meta">
            <span>1:24</span>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title"><a href="video-post.html">Wolfenstein II Gameplay Trailer</a></h4>
          <div class="card-meta">
            <span><i class="fa fa-clock-o"></i> July 16, 2017</span>
            <span>7330 views</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="heading">
        <i class="fa fa-film"></i>
        <h2>Recent Videos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="row row-5">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i.ytimg.com/vi/GaERL8Nrl9k/mqdefault.jpg" class="card-img-top" alt="Tom Clancy's Ghost Recon: Wildlands Gameplay">
            </a>
              <div class="card-meta">
                <span>3:05</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Tom Clancy's Ghost Recon: Wildlands</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> 2 days ago</span>
                <span>589 views</span>
              </div>
              <p>Defeating the corrupt tyrants entrenched there will require not only strength.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/9xMsBIlvTEE/mqdefault.jpg" class="card-img-top" alt="Star Wars: Battlefront 2 New Gameplay">
            </a>
              <div class="card-meta">
                <span>4:32</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Star Wars: Battlefront 2 New Gameplay</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> 3 days ago</span>
                <span>423 views</span>
              </div>
              <p>Multiplayer gameplay revealed for Star Wars Battlefront 2.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/mW4LMCtoIkg/mqdefault.jpg" class="card-img-top" alt="Anthem Official Gameplay Reveal">
            </a>
              <div class="card-meta">
                <span>3:07</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Anthem Official Gameplay Reveal</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> 2 weeks ago</span>
                <span>1798 views</span>
              </div>
              <p>In Anthem, a new shared-world action-RPG from EA's BioWare studio.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i.ytimg.com/vi/PgLQ9kzmfT8/mqdefault.jpg" class="card-img-top" alt="Far Cry 5: Full Length Reveal Trailer">
            </a>
              <div class="card-meta">
                <span>15:56</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Far Cry 5: Full Length Reveal Trailer</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> May 26, 2017</span>
                <span>6521 views</span>
              </div>
              <p>Far Cry comes to America in the latest installment of the award-winning franchise..</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i.ytimg.com/vi/lQXpDL3SNWQ/mqdefault.jpg" class="card-img-top" alt="Spider-Man Official 4K Trailer">
            </a>
              <div class="card-meta">
                <span>6:46</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Spider-Man Official 4K Trailer</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> April 5, 2017</span>
                <span>447 views</span>
              </div>
              <p>Spider-Man for PS4 was a surprise hit last year, will we see it at...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/QEuEOugOXcc/mqdefault.jpg" class="card-img-top" alt="METRO EXODUS Gameplay Trailer">
            </a>
              <div class="card-meta">
                <span>1:24</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Metro Exodus: Gameplay Trailer 2017</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> April 1, 2017</span>
                <span>7330 views</span>
              </div>
              <p>The latest installment in the post-apocalyptic first-person shooter from...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/ckUrcdnWZ2g/mqdefault.jpg" class="card-img-top" alt="The Last Guardian Pet Cosplay Contest">
            </a>
              <div class="card-meta">
                <span>1:58</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">The Last Guardian Pet Cosplay Contest</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 28, 2017</span>
                <span>812 views</span>
              </div>
              <p>Take a sneak peek at some new footage for The Last Guardian.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/-PohBqV_i7s/mqdefault.jpg" class="card-img-top" alt="Watch Dogs 2 - Reveal Trailer">
            </a>
              <div class="card-meta">
                <span>4:04</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Shadow of War Gameplay Walkthrough</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 15, 2017</span>
                <span>546 views</span>
              </div>
              <p>Join us as we take a look at Shadow of War and discuss...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/1Y_DVbmRNhc/mqdefault.jpg" class="card-img-top" alt="Ghost in the Shell (2017) - Official Trailer">
            </a>
              <div class="card-meta">
                <span>2:12</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Ghost in the Shell (2017) - Official Trailer</a></h4>
              <div class="card-meta">
                <span>
                <i class="fa fa-clock-o"></i> March 13, 2017</span>
                <span>7879 views</span>
              </div>
              <p>The first teasers for the upcoming live-action adaptation of classic...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/VHDmlMVWIwQ/mqdefault.jpg" class="card-img-top" alt="Battlefield 1: In the Name of the Tsar Trailer">
            </a>
              <div class="card-meta">
                <span>9:58</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Battlefield 1: In the Name of the Tsar</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 10, 2017</span>
                <span>914 views</span>
              </div>
              <p>Battlefield 1 heads to the Eastern front in its next huge expansion, which introduces...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/lqUUstkJbrc/mqdefault.jpg" class="card-img-top" alt="Overwatch Animated Short Infiltration">
            </a>
              <div class="card-meta">
                <span>5:40</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Overwatch Animated Short Infiltration</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 3, 2017</span>
                <span>1254 views</span>
              </div>
              <p>What do you get when you spend $39.99 on Overwatch loot crates?</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/feqIj5PaqCQ/mqdefault.jpg" class="card-img-top" alt="Call of Duty WW2 Multiplayer Gameplay">
            </a>
              <div class="card-meta">
                <span>15:38</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Call of Duty WW2 Multiplayer Gameplay</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 1, 2017</span>
                <span>7236 views</span>
              </div>
              <p>We head into some intense battles in this new Call of Duty WW2 gameplay...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/B6qY-P4eo1Q/mqdefault.jpg" class="card-img-top" alt="Mafia 3: The Movie (All Cutscenes HD)">
            </a>
              <div class="card-meta">
                <span>2:47:52</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Mafia 3: The Movie (All Cutscenes HD)</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> February 14, 2017</span>
                <span>12376 views</span>
              </div>
              <p>Mafia 3 tackles some controversial subject matter and 2K has not provided copies...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/KsHHiWqgbw8/mqdefault.jpg" class="card-img-top" alt="I’m Ready To Spend Another 100 Hours">
            </a>
              <div class="card-meta">
                <span>4:59</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">I’m Ready To Spend Another 100 Hours</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> February 13, 2017</span>
                <span>1236 views</span>
              </div>
              <p>Use the brand new wardrobe to select the right outfit for your days and nights...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/qZmnPUNP2Ps/mqdefault.jpg" class="card-img-top" alt="A Minute of Crazy Cosplay from Blizzcon">
            </a>
              <div class="card-meta">
                <span>1:15</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">A Minute of Crazy Cosplay from Blizzcon</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> February 10, 2017</span>
                <span>772 views</span>
              </div>
              <p>Feast your eyes on some new Diablo III gameplay footage from BlizzCon...</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/WfBhaP6sIX0/mqdefault.jpg" class="card-img-top" alt="Hearthstone Mean Streets of Gadgetzan">
            </a>
              <div class="card-meta">
                <span>1:31</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Hearthstone Mean Streets of Gadgetzan</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> February 5, 2017</span>
                <span>558 views</span>
              </div>
              <p>Blizzard's free-to-play card game Hearthstone is rolling out...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center"><a href="videos.html" class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-t-20">Show More</a></div>
    </div>
  </section>

  <section class="bg-secondary p-t-30 p-b-0">
    <div class="container">
      <h6 class="subtitle">Recommended Videos</h6>
      <div class="row row-5">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/feqIj5PaqCQ/mqdefault.jpg" class="card-img-top" alt="Call of Duty WW2 Multiplayer Gameplay">
            </a>
              <div class="card-meta">
                <span>15:38</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Call of Duty WW2 Multiplayer Gameplay</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 1, 2017</span>
                <span>7236 views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/B6qY-P4eo1Q/mqdefault.jpg" class="card-img-top" alt="Mafia 3: The Movie (All Cutscenes HD)">
            </a>
              <div class="card-meta">
                <span>2:47:52</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Mafia 3: The Movie (All Cutscenes HD)</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> February 14, 2017</span>
                <span>12376 views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i1.ytimg.com/vi/VHDmlMVWIwQ/mqdefault.jpg" class="card-img-top" alt="Battlefield 1: In the Name of the Tsar Trailer">
            </a>
              <div class="card-meta">
                <span>9:58</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Battlefield 1: In the Name of the Tsar</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> March 10, 2017</span>
                <span>914 views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="card card-video">
            <div class="card-img">
              <a href="video-post.html">
              <img src="https://i.ytimg.com/vi/lQXpDL3SNWQ/mqdefault.jpg" class="card-img-top" alt="Spider-Man Official 4K Trailer">
            </a>
              <div class="card-meta">
                <span>6:46</span>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="video-post.html">Spider-Man Official 4K Trailer</a></h4>
              <div class="card-meta">
                <span><i class="fa fa-clock-o"></i> April 5, 2017</span>
                <span>447 views</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->
        </div>
    
      </div>
    </div>          
  </div>
</section>


  <!-- main -->
<section  *ngIf="contribute">
<div class="container">
<div class="row">
<div class="col-lg-8 mx-auto">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Story</a></li>
    <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Image</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Video</a></li>
    <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Stream</a></li> -->
  </ul>

  <form class="tab-content p-t-20">
    <div class="tab-pane active" id="forum" role="tabpanel">
     
      
        <div class="panel-body  table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>header</th>
                  <th>Content</th>
                  <!-- <th>Status</th> -->
                  <th>Contribute</th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let c of contents ">
                  <!-- <td>1</td> -->
                  <td>{{c.header}}</td>
                  <td class="center">{{c.content}}</td>
          
                  <td class="menu-action rounded-btn" >
                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="onContribute(c.id)"> <i class="fa fa-pencil"></i> </a> 
                                                     </td>
                </tr>                
              </tbody>
            </table>

           
          </div>

<!--           
      <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="submit-area">Attachment</label>
                <div class="input-group">
                    <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                </div>
            </div>
        </div>           -->
    </div>

    <div class="tab-pane" id="options" role="tabpanel">
      
      
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="submit-area">Attachment</label>
                <div class="input-group">
                    <input id="file-upload" type="file" class="file"  data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                </div>
            </div>
        </div> 
        <div class="m-t-30">

            <button type="submit" (click)="saveimage()" [disabled]= "disabled" class="btn btn-default btn-rounded btn-shadow float-right" >
                    <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> Contribute</button>
      <!-- <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button> -->


    </div> 
    </div>
    <div class="m-t-30">

            <!-- <button type="submit" (click)="onSubmit()" [disabled]= "disabled" class="btn btn-default btn-rounded btn-shadow float-right" >
                    <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> {{sav}}</button> -->
      <!-- <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button> -->


    </div>
  </form>
</div>
</div>
</div>
</section>
<!-- /main -->







<section class="bg-secondary">

    <div class="post-related container">
        <h6 class="subtitle">Related Posts</h6>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3" *ngFor="let rel of footer">
            <div class="card card-widget" >
              <div class="card-img">
                <a ><img src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{rel.t_image}}" alt="Injustice 2 Story Mode Superman Ending"></a>
              </div>                     
              
              <div class="card-block">
                <h4 class="card-title"><a>{{rel.name_title}}</a></h4>
                <div class="card-meta"><span><i class="fa fa-clock-o"></i>{{rel.created_at}}</span></div>
                <p>Injustice 2's Story Mode features hours of cinematic cutscenes.</p>
              </div>
            </div>
          </div>                  
        </div>
      </div>

</section>
<section class="pager">
    <div style="background-image: url('img/blog/blog-pager-1.jpg')">
      <div class="overlay"></div>
      <h2><a >The Last of Us 2 Was Teased in September and Nobody Noticed</a></h2>
    </div>
    <div style="background-image: url('img/blog/blog-pager-2.jpg')">
      <div class="overlay"></div>
      <h2><a>Witcher 3: Don't Miss This Hidden Contract in Blood and Wine</a></h2>
    </div>
  </section>
<!-- /main -->

