 <!-- main -->
 <section class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a [routerLink]="['/Platform']">Platform</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
</section>   

<!-- <section class="hero hero-review" style="background-image: url('assets/img/SC.jpg');"> -->
  <section class="hero" style="background-image: url('assets/img/SC.jpg');">
<div class="overlay"></div>
<div class="container">
<div class="hero-block">
  <!-- <div class="chart easypiechart m-b-20" data-percent="85" data-scale-color="#e3e3e3"><span>{{catname}}</span></div> -->
  <h2 class="hero-title">{{title}}</h2>
  <!-- <p>Uncharted 4: A Thief's End will explore what it means when Drake is forced back into the world of thieves.</p> -->
  <!-- <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20"  data-lightbox role="button">Watch Review <i class="fa fa-play"></i></a> -->
  <a class="btn btn-outline-success btn-lg btn-shadow btn-rounded m-l-10 m-t-20 text-light" (click)="swip('contribute')" role="button">Write Review <i class="fa fa-pencil"></i></a>
  <!-- <a class="btn btn-outline-success btn-lg btn-shadow btn-rounded m-l-10 m-t-20 text-light" (click)="swip('contribute')" *ngIf = "!loggedIn" role="button">Write Review <i class="fa fa-pencil"></i></a> -->
</div>
</div>
</section>
<section class="toolbar toolbar-links" data-fixed="true">
<div class="container">
<h5>{{title}}</h5>
<ul class="toolbar-nav">
  <li><a routerlink="" active (click)="swip('post')">Articles</a></li>
  <!-- <li class="active"><a href="reviews.html">Reviews</a></li> -->
  <li><a routerlink="" (click)="swip('mapv')">Map</a></li>
  <li><a routerlink="" (click)="swip('image')">Images</a></li>
  <li><a routerlink="" (click)="swip('video')">Videos</a></li>
  <!-- <li><a routerlink="" (click)="swip('stream')">Streams</a></li>         -->
  <!-- <li><a routerlink="['/Login']" *ngIf = "!loggedIn" >Contribute</a></li> -->
  <li><a routerlink="" (click)="swip('contribute')" >Contribute</a></li>
</ul>
</div>
</section>
<section class="p-t-35 p-b-0" *ngIf="post">
<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <!-- post -->
        <div class="post post-single">           

          <div class="post-header">
                  <div>
                  <a >
                      <img *ngIf="loading"  width="100%" height="60" src="assets/img/loading.gif" alt="">
                    <img [src]="uimage" alt="">                    
                  </a>
                  </div>
                  <div>
                    <h2 class="post-title">
                          <h2 class="post-title">{{title}} </h2>                                
                    </h2>
                    <a class="btn btn-secondary float-right social-share"  role="button" *ngIf="!loggedIn" [routerLink]="['/Login']">{{ folllow }}</a>
                <div *ngIf="loggedIn">
                    <div *ngIf="uid != user_id">
                    <!-- <a class="btn btn-secondary float-right social-share"  role="button" *ngIf="loggedIn" >Following</a> -->
                    <!-- <a class="btn btn-secondary float-right social-share" (click)="follow(res.id)" role="button" >{{ folllow }}</a> -->
                    </div>
                  </div>
                    <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> {{res.created_at}} by <a >{{name}}</a></span>
                          <span><a ><i class="fa fa-comment-o" title="Comments"></i> {{res.comment_count}} comments</a></span>
                    </div>
                  </div>
                </div> 
          

          <div class="post-thumbnail col-lg-8">
              <img *ngIf="loading"  width="100%" height="320" src="assets/img/loading.gif" alt="">
                  <img width="100%" height="320" src="{{appUrl}}{{res.t_image}}" alt="">
                </div>
        
          <div id="description" *ngFor="let r of contents">
                  <h5>{{r.header}}</h5>
                  <p style="font-size: 18px; align-self: auto; align-content: center; white-space: pre-line; "> {{r.content}} </p>                                
              </div><!-- /#description -->

        </div>
      <!-- /.post -->
      <div class="post-actions no-border">
        <div class="post-tags">
          <!-- <a href="#">#playstation-4</a>
          <a href="#">#uncharted-4</a>
          <a href="#">#nathan-drake</a>
          <a href="#">#open-world</a>
          <a href="#">#action</a> -->
        </div>
        <!-- <div class="social-share">
            <a class="btn btn-social btn-info btn-circle" (click)="likes(res.id)" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-thumbs-o-up"></i></a>
            <span>{{res.like}}</span>
  
          <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
          <span></span>
          <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
        </div>         -->
      </div>
    </div>

    <div class="col-1 hidden-md-down">
      <!-- widget share -->
      <div class="widget widget-share" data-fixed="widget">
        <div class="widget-block">
          <span>{{res.like}}</span><br>
          <a class="btn btn-social btn-info btn-circle" (click)="likes(res.id)" data-toggle="tooltip" title="Like" data-placement="right" role="button"><i class="fa fa-thumbs-o-up"></i></a>
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhamorah.com%2Ftestenv%2Fplatform%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" class="btn btn-social btn-facebook btn-circle" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-twitter btn-circle" data-toggle="tooltip" title="Share on Twitter" data-placement="right" role="button"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social btn-google-plus btn-circle" data-toggle="tooltip" title="Share on Google Plus" data-placement="right" role="button"><i class="fa fa-google-plus"></i></a>
        
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section *ngIf="post" class="bg-image bg-image-sm" style="background-image: url('assets/img/SC.jpg');">
<div class="overlay-dark"></div>
<div class="container">
  <div class="review">
    <div class="row">
      <div class="col-12 col-sm-10">
        <h2 class="review-title">Contributors</h2>
        <!-- <p>Melee-focused action games have spent years enacting the fantasy of engaging in armed combat, fortunately sparing us the hours. Fortunately, For Honor comes with a suite of options and modes to get you up to speed in each class relatively
          quickly.</p> -->
      </div>
      <div class="col-12 col-sm-2">
        <!-- <div class="chart easypiechart" data-percent="85" data-scale-color="#e3e3e3"><span>85</span>%</div> -->
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-lg-5">
          <div class="review-good">
              <h5>Story:</h5>
              <p *ngFor="let r of contributes"><i>"{{r.header}}":</i><a>{{r.firstname}} {{r.middlename}} {{r.lastname}}</a>, {{r.created_at}}</p>
              <!-- <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p>
              <p><i>"Nuanced, emotional characters":</i><a>contributor Name</a>, 21th oct, 2019: 12:00pm</p> -->
            </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="review-good">
              <h5>Image:</h5>
              <p *ngFor="let r of cgallery"><i>"{{r.name_title}}":</i><a>{{r.firstname}} {{r.middlename}} {{r.lastname}}</a>, {{r.created_at}}</p>
              
            </div>
          </div>
          <!-- <div class="col-12 col-sm-6">
            <div class="review-bad">
              <h5>Video:</h5>
             
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="p-t-25" *ngIf="post">
<div class="container">
  <div class="row">
    <div class="col-lg-9">
        <div id="comments" class="comments anchor">
            <div class="comments-header">
              <h5><i class="fa fa-comment-o m-r-5"></i> Comments ({{res.comment_count}})</h5>
              <!-- <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sorted by Best <span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item active" >Best</a>
                  <a class="dropdown-item" >Latest</a>
                  <a class="dropdown-item" >Oldest</a>
                  <a class="dropdown-item" >Random</a>
                </div>
              </div> -->
            </div>
            <a class="btn btn-success text-left m-t-15 btn-block"  role="button"><i class="fa fa-pulse m-r-5"></i> </a>
            <ul>
              <li>
                <div class="comment" *ngFor="let r of comment">
                  <div class="comment-avatar">
                    <a ><img alt="" src="{{appUrl}}{{r.image}}"></a>
                    <!-- <a class="badge badge-success"  data-toggle="tooltip" data-placement="bottom" title="Add as friend"><i class="fa fa-user-plus"></i></a> -->
                  </div>
                  <div class="comment-post">
                    <div class="comment-header">
                      <div class="comment-author">
                        <h5><a >{{r.firstname}}</a></h5>
                        <span>{{r.lastname}} {{r.middlename}} </span>
                      </div>
                      <div class="comment-action">
                        <div class="dropdown float-right">
                          <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <!-- <a class="dropdown-item" >Moderate</a>
                            <a class="dropdown-item" >Embed</a>
                            <a class="dropdown-item" >Report</a>
                            <a class="dropdown-item" >Mark as spam</a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>{{r.comment}}.</p>
                    <div class="comment-footer">
                      <ul>
                        <!-- <li><a ><i class="fa fa-heart-o"></i> Like</a></li>
                        <li><a ><i class="icon-reply"></i> Reply</a></li> -->
                        <li><a ><i class="fa fa-clock-o"></i>{{r.created_at}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- <ul>
                  <li>
                    <div class="comment">
                      <div class="comment-avatar"><img src="img/user/user-2.jpg" alt=""></div>
                      <div class="comment-post">
                        <div class="comment-header">
                          <div class="comment-author">
                            <h5><a href="profile.html">Elizabeth</a></h5>
                            <span>Member</span>
                          </div>
                          <div class="comment-action">
                            <div class="dropdown float-right">
                              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" >Moderate</a>
                                <a class="dropdown-item" >Embed</a>
                                <a class="dropdown-item" >Report</a>
                                <a class="dropdown-item" >Mark as spam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Please also consider replacing Battles with Blast (in Skirmish): it can use the same AI and would be much more fun (tokens are annoying and maps are limited)!</p>
                        <div class="comment-footer">
                          <ul>
                            <li><a ><i class="fa fa-heart-o"></i> Like</a></li>
                            <li><a ><i class="icon-reply"></i> Reply</a></li>
                            <li><a ><i class="fa fa-clock-o"></i> 24 minutes ago</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul> -->
              </li>                 
            </ul>
            <form  role="form" id="form-blog-reply"  class="clearfix" #commentForm=ngForm (ngSubmit)="onSubmit()">
              <h5>Leave a comment</h5>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Your Comment" [(ngModel)]="form.comment" name="comment" required></textarea>
              </div>
              <button type="submit" class="btn btn-success" [disabled]= "disable" >
                    <i id="loader2" *ngIf="disable"  class="fa fa-spin fa-spinner"></i>Submit Comment</button>
            </form>
          </div>
    </div>
    <div class="col-lg-3">
      <div class="sidebar">
        <!-- widget post  -->
        <!-- <div class="widget widget-post">
          <h5 class="widget-title">Recommends</h5>
          <a href="review-post.html"><img src="https://i1.ytimg.com/vi/4BLkEJu9szM/mqdefault.jpg" alt=""></a>
          <h4><a href="review-post.html">Titanfall 2's Trophies Only Have 3 Earned Through Multiplayer</a></h4>
          <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed ante facilisis efficitur.</p>
        </div> -->
        <!-- /widget post -->

        <!-- widget facebook -->
        <div class="widget">
          <h5 class="widget-title">Follow Us on Facebook</h5>
          <div id="fb-root"></div>
          <script async="" src="https://www.google-analytics.com/analytics.js"></script>
          <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
          <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
          <div class="fb-page" data-href="https://www.facebook.com/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
        </div>
        <!-- /widget facebook -->

        <!-- widget post -->
        <div class="widget widget-post">
            <h5 class="widget-title">Recent Contribution</h5>           
            <ul class="widget-list">              
               
              <li  *ngFor="let H of footer">
                <div class="widget-img"><a (click)="nav(H.id)"><img width="100%" height="80" src="{{appUrl}}{{H.t_image}}" alt=""></a></div>
                <div>
                  <h4><a routerink="" (click)="nav(H.id)">{{H.name_title}}</a></h4>
                  <span>{{H.created_at}}</span>
                </div>
              </li>             
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</section>










<section *ngIf="mapv">
<div class="container">
<div class="row">
 
  <div class="col-lg-11">
    <!-- main --> 
        <div class="post post-single" >
          <div id="map" style="width:100%;height:400px;"></div>
        </div>
      </div>
   </div>
</div>
</section>

<section *ngIf="imgs">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-11">

        <div class="post post-single" >
          <div class="row row-3 figure-effect">
              <div class="col-12 col-sm-6 col-md-4" *ngFor="let r of gallery">
                        <figure>
                          <div class="figure-img">
                            <a href="{{appUrl}}{{r.image_name}}" data-lightbox='{"disqus": true, "gallery": "uncharted"}'>
                            <img src="{{appUrl}}{{r.image_name}}" alt="">
                          </a>
                            <!-- <a class="figure-likes" >32</a> -->
                          </div>
                        </figure>
                      </div>
            
          
          </div>
        </div>
        </div>
        </div>
        </div>
</section>


<section *ngIf="video">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-11">

        <div class="post post-single" >
          <!-- main -->
          <section class="bg-image" *ngFor="let r of videos" style="background-image: url('https://youtu.be/OukK1AybYbg');">
            <div class="overlay-light"></div>
            <div class="container">
              <div class="embed-responsive embed-responsive-16by9">{{r.video_name}}
                  <iframe width="560" height="315" src="{{r.video_name}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              </div>
            </div>
          </section>
        
          <section>
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <div class="post post-single">
                    <div class="post-header">
                      <div>
                        <a ><img src="img/user/user-3.jpg" alt=""></a>
                      </div>
                      <div>
                        <h2 class="post-title"></h2>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> {{r.created_at}} by <a >{{r.firstname}}</a></span>
                          <span><a ><i class="fa fa-comment-o"></i></a></span>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  <div class="post-actions">
                    <div class="post-tags">
                     
                    </div>
                    <div class="social-share">
                      <a class="btn btn-social btn-facebook btn-circle" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on facebook"><i class="fa fa-facebook"></i></a>
                      <span>0</span>
                      <a class="btn btn-social btn-twitter btn-circle" data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on twitter"><i class="fa fa-twitter"></i></a>
                      <a class="btn btn-social btn-google-plus btn-circle"  data-toggle="tooltip" title="" data-placement="bottom" role="button" data-original-title="Share on google-plus"><i class="fa fa-google-plus"></i></a>
                    </div>
                  </div>
                  <div id="comments" class="comments anchor">
                    <div class="comments-header">
                      <h5><i class="fa fa-comment-o"></i> Comments</h5>
                      <!-- <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sorted by best <span class="caret"></span></button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item active" >Best</a> -->
                          <!-- <a class="dropdown-item" href="#">Latest</a>
                          <a class="dropdown-item" href="#">Oldest</a>
                          <a class="dropdown-item" href="#">Random</a> -->
                        <!-- </div>
                      </div> -->
                    </div>
                    <a class="btn btn-success text-left m-t-15 btn-block"  role="button"><i class="fa fa-spinner fa-pulse m-r-5"></i></a>
                    
                    <form>
                      <h5>Leave a comment</h5>
                      <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Your Comment"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success btn-shadow">Submit Comment</button>
                    </form>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="sidebar">
                    <!-- widget post  -->
                    <div class="widget widget-videos">
                      <h5 class="widget-title">Recommends</h5>
                      <ul class="widget-list">
                        <li>
                          <div class="widget-img">
                            <a ><img src="assets/img/SC.jpg" alt=""></a>
                            <span>2:13</span>
                          </div>
                          <h4><a>r</a></h4>
                          <span><i class="fa fa-clock-o"></i> July 30, 2017</span>
                          <span><i class="fa fa-eye"></i> 345x</span>
                        </li>
                        <li>
                          <div class="widget-img">
                            <a><img src="assets/img/SC.jpg" alt=""></a>
                            <span>13:07</span>
                          </div>
                          <h4><a></a></h4>
                          <span><i class="fa fa-clock-o"></i> July 29, 2017</span>
                          <span><i class="fa fa-eye"></i> 1269x</span>
                        </li>
                        <li>
                          <div class="widget-img">
                            <a><img src="assets/img/SC.jpg" alt=""></a>
                            <span>5:17</span>
                          </div>
                          <h4><a></a></h4>
                          <span><i class="fa fa-clock-o"></i> July 20, 2017</span>
                          <span><i class="fa fa-eye"></i> 692x</span>
                        </li>
                        <li>
                          <div class="widget-img">
                            <a><img src="assets/img/SC.jpg" alt=""></a>
                            <span>2:30</span>
                          </div>
                          <h4><a ></a></h4>
                          <span><i class="fa fa-clock-o"></i> June 13, 2017</span>
                          <span><i class="fa fa-eye"></i> 1136x</span>
                        </li>
                        <li>
                          <div class="widget-img">
                            <a><img src="assets/img/SC.jpg" alt=""></a>
                            <span>2:12</span>
                          </div>
                          <h4><a></a></h4>
                          <span><i class="fa fa-clock-o"></i> May 14, 2017</span>
                          <span><i class="fa fa-eye"></i> 7879x</span>
                        </li>
                        <li>
                          <div class="widget-img">
                            <a ><img src="assets/img/SC.jpg" alt=""></a>
                            <span>15:38</span>
                          </div>
                          <h4><a ></a></h4>
                          <span><i class="fa fa-clock-o"></i> March 1, 2017</span>
                          <span><i class="fa fa-eye"></i> 723x</span>
                        </li>
                      </ul>
                    </div>
                    <!-- /widget post -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- /main -->
  <!-- /main -->
        </div>
    
      </div>
    </div>          
  </div>
</section>


  <!-- main -->
<section  *ngIf="contribute">
<div class="container">
<div class="row">
<div class="col-lg-8 mx-auto">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Story</a></li>
    <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Image</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Video</a></li>
    <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Stream</a></li> -->
  </ul>

  <form class="tab-content p-t-20">
    <div class="tab-pane active" id="forum" role="tabpanel">
     
      
        <div class="panel-body  table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>header</th>
                  <th>Content</th>
                  <!-- <th>Status</th> -->
                  <th>Contribute</th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let c of contents ">
                  <!-- <td>1</td> -->
                  <td>{{c.header}}</td>
                  <td class="center">{{c.content}}</td>
          
                  <td class="menu-action rounded-btn" >
                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="onContribute(c.id)"> <i class="fa fa-pencil"></i> </a> 
                                                     </td>
                </tr>                
              </tbody>
            </table>

           
          </div>

<!--           
      <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="submit-area">Attachment</label>
                <div class="input-group">
                    <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                </div>
            </div>
        </div>           -->
    </div>

    <div class="tab-pane" id="options" role="tabpanel">
      
      
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="submit-area">Attachment</label>
                <div class="input-group">
                    <input id="file-upload" type="file" class="file"  data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                </div>
            </div>
        </div> 
        <div class="m-t-30">

            <button type="submit" (click)="saveimage()" [disabled]= "disabled" class="btn btn-default btn-rounded btn-shadow float-right" >
                    <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> Contribute</button>
      <!-- <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button> -->


    </div> 
    </div>
    <div class="m-t-30">

            <!-- <button type="submit" (click)="onSubmit()" [disabled]= "disabled" class="btn btn-default btn-rounded btn-shadow float-right" >
                    <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> {{sav}}</button> -->
      <!-- <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button> -->


    </div>
  </form>
</div>
</div>
</div>
</section>
<!-- /main -->







<section class="bg-secondary">

    <div class="post-related container">
        <h6 class="subtitle">Related Posts</h6>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3" *ngFor="let rel of footer">
            <div class="card card-widget" >
              <div class="card-img">
                <a ><img  width="100%" height="180" src="{{appUrl}}{{rel.t_image}}" alt=""></a>
              </div>                     
              
              <div class="card-block">
                <h4 class="card-title"><a (click)="nav(rel.id)">{{rel.name_title}}</a></h4>
                <div class="card-meta"><span><i class="fa fa-clock-o"></i>{{rel.created_at}}</span></div>
                <!-- <p>Injustice 2's Story Mode features hours of cinematic cutscenes.</p> -->
              </div>
            </div>
          </div>                  
        </div>
      </div>

</section>
<section class="pager">
    <div style="background-image: url('img/blog/blog-pager-1.jpg')">
      <div class="overlay"></div>
      <h2><a >Advertise your product here</a></h2>
    </div>
    <div style="background-image: url('img/blog/blog-pager-2.jpg')">
      <div class="overlay"></div>
      <h2><a>Advertise your product here</a></h2>
    </div>
  </section>
<!-- /main -->

