<div class="vd_head-section clearfix">
    <div class="vd_panel-header">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a> </li>
        <li><a href="listtables-tables-variation.html">List &amp; Tables</a> </li>
        <li class="active">Tables Variation</li>
      </ul>
      <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
<div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
<div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
<div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

    </div>
  </div>
  <div class="vd_title-section clearfix">
    <div class="vd_panel-header">
      <h1>Trash Table</h1>
      <small class="subtitle">List of table deleted post</small> </div>
  </div>
  <div class="vd_content-section clearfix">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel widget">
          <div class="panel-heading vd_bg-grey">

            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> Trash Data Result: {{leng}} </h3>

          </div>
          <div class="panel-body  table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Date Posted</th>
                  <th>Tag</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor="let t of resa">
                  <td>{{t.id}}</td>
                  <td>{{t.name_title}}</td>
                  <td class="center">{{t.updated_at}}</td>
                  <td class="center">{{t.catname}}</td>
                  <td class="center"> <span class="label label-default" *ngIf ="t.status=== 'T'">Trash</span>
                  </td>
                  <td class="menu-action rounded-btn" >
                    <a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-green" (click)="movetrashp(t.id)"> <i class="fa fa-undo"></i> </a> 

                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="navigate(t.id)"> <i class="fa fa-pencil"></i> </a> 
                                                      <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red" (click)="deletep(t.id)"> <i class="fa fa-times"></i> </a></td>
                </tr>   
                <tr *ngFor="let u of res">
                  <td>{{u.id}}</td>
                  <td>{{u.firstname}} {{u.middlename}} {{u.lastname}}</td>
                  <td class="center">{{u.updated_at}}</td>
                  <td class="center">{{u.role_id}}</td>
                  <td class="center"> <span class="label label-default" *ngIf ="u.status=== 'T'">Trash</span>
                  </td>
                  <td class="menu-action rounded-btn" ><a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-green" (click)="movetrashu(t.id)"> <i class="fa fa-undo"></i> </a> 
                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="movetrashu(u.id)"> <i class="fa fa-pencil"></i> </a> 
                                                      <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red"  (click)="deleteu(u.id)"> <i class="fa fa-times"></i> </a></td>
                </tr>    
                <tr *ngFor="let a of resp">
                  <td>{{a.id}}</td>
                  <td>{{a.actname}}</td>
                  <td class="center">{{a.updated_at}}</td>
                  <td class="center"></td>
                  <td class="center"> <span class="label label-default" *ngIf ="a.status=== 'T'">Trash</span>
                  </td>
                  <td class="menu-action rounded-btn" ><a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-green" (click)="movetrasha(t.id)"> <i class="fa fa-undo"></i> </a> 
                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="movetrasha(a.id)"><i class="fa fa-pencil"></i> </a> 
                                                      <!-- <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red"  (click)="opencomformed()"> <i class="fa fa-times"></i> </a></td> -->
                                                      
                                                      <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red"  (click)="deletea(a.id)"> <i class="fa fa-times"></i> </a></td>
                </tr>  
                <tr *ngFor="let c of respo">
                  <td>{{c.id}}</td>
                  <td>{{c.catname}}</td>
                  <td class="center">{{c.updated_at}}</td>
                  <td class="center"></td>
                  <td class="center"> <span class="label label-default" *ngIf ="c.status=== 'T'">Trash</span>
                  </td>
                  <td class="menu-action rounded-btn" ><a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-green" (click)="movetrashc(t.id)"> <i class="fa fa-undo"></i> </a> 
                                                      <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow"  (click)="movetrashc(c.id)"> <i class="fa fa-pencil"></i> </a> 
                                                      <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red"  (click)="deletec(c.id)"> <i class="fa fa-times"></i> </a></td>
                </tr>           

              </tbody>
            </table>
          
          </div>
        </div>
        <!-- Panel Widget --> 
      </div>
      <!-- col-md-12 --> 
    </div>
    
  </div>
  <!-- .vd_content-section --> 

