<!-- Page Content -->
<div id="page-content">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <div class="row">
            <!-- About Us -->
            <div class="col-md-12 col-sm-12">
                <section id="about-us">
                    <header><h1>About Us</h1></header>
                    <section id="ceo-section" class="center">
                        <header class="center"><div class="cite-title">About Sabiogun Platform</div></header>
                        <div class="cite no-bottom-margin">We are a one-shop-shop for the social and cultural heritage of ogun state. we are focused on 
                            creating, identifying, managing, promoting and proposing a single and harmonized platform for exhibiting interphase between social 
                            and cultural activities in the state. <p>
                                This platform not only gives users easy access to free knowledge about diffrent places, traditions, cultures and people of the state, 
                                but also the opportunity to contribute to the platform by posting their own content and engage with that of others.
                            </p>  
                        </div>
                        <hr class="divider">
                        <a href="agent-detail.html" class="image"><img alt="" src="assets/img/ogungov.jpg"></a>
                        <a href="agent-detail.html"><h3>Gov Dapo Abiodun</h3></a>
                        <figure class="subtitle">Ogun State Governor</figure>
                        <div class="background-image"><img alt="" src="assets/img/about-us-bg.jpg"></div>
                    </section><!-- /#ceo-section -->
                    <div class="divider-image center"><img alt="" src="assets/img/sine-wave.png"></div>
                    <section id="our-team">
                        <header class="center"><h2 class="no-border">DEAG</h2></header>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
                                <div class="member">
                                    <a href="agent-detail.html" class="image"><img alt="" src="assets/img/SC.jpg"></a>                                   
                                    <div class="wrapper">
                                        <a href="agent-detail.html"><h3>SOCIO-CULTURAL</h3></a>
                                        <figure class="subtitle">Aggregating, structuring and facilitating the growth of our heritage for effective value communication and exchange</figure>
                                       
                                    </div>
                                </div><!-- /.member -->
                            </div><!-- /.col-md-5 -->
                            <div class="col-md-5 col-sm-5">
                                <div class="member">
                                    <a href="agent-detail.html" class="image"><img alt="" src="assets/img/EG.jpg"></a>
                                    <div class="wrapper">
                                        <a href="agent-detail.html"><h3> DIGITAL GOVERNMENT</h3></a>
                                        <figure class="subtitle">The presence and use of digital services and platforms to enable public service delivery</figure>
                                       
                                    </div>
                                </div><!-- /.member -->
                            </div><!-- /.col-md-5 -->
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="member">
                                    <a href="agent-detail.html" class="image"><img alt="" src="assets/img/DB.jpg"></a>
                                    <div class="wrapper">
                                        <a href="agent-detail.html"><h3>DIGITAL BUSINESS</h3></a>
                                        <figure class="subtitle">Delivering fast, accessible, reliable, advanced and databased services</figure>
                                        
                                    </div>
                                </div><!-- /.member -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4 col-sm-4">
                                <div class="member">
                                    <a href="agent-detail.html" class="image"><img alt="" src="assets/img/DI1.jpg"></a>
                                    <div class="wrapper">
                                        <a href="agent-detail.html"><h3>DIGITAL INFRASTRUCTURE</h3></a>
                                        <figure class="subtitle">Leveraging on technology to reduce cost and improve access, resilience and reliability</figure>
                                        
                                    </div>
                                </div><!-- /.member -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-4 col-sm-4">
                                <div class="member">
                                    <a href="agent-detail.html" class="image"><img alt="" src="assets/img/profile-01.jpg"></a>
                                    <div class="wrapper">
                                        <a href="agent-detail.html"><h3>INNOVATION-DRIVEN ENTREPRENEURSHIP</h3></a>
                                        <figure class="subtitle">Building businesses and platforms to drive trade, services and content for viable, investment-friendly, scalable and innovative enterprises that will  drive economic transformation</figure>
                                        
                                    </div>
                                </div><!-- /.member -->
                            </div><!-- /.col-md-4 -->
                        </div><!-- /.row -->
                    </section><!-- /#our-tem -->                    
                    <section id="testimonials" class="block">
                        <header class="center"><h2 class="no-border">What other said about us</h2></header>
                        <div class="owl-carousel testimonials-carousel">
                            <blockquote class="testimonial">
                                <figure>
                                    <div class="image">
                                        <img alt="" src="assets/img/client-01.jpg">
                                    </div>
                                </figure>
                                <aside class="cite">
                                    <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                    <footer>Natalie Jenkins</footer>
                                </aside>
                            </blockquote>
                            <blockquote class="testimonial">
                                <figure>
                                    <div class="image">
                                        <img alt="" src="assets/img/client-01.jpg">
                                    </div>
                                </figure>
                                <aside class="cite">
                                    <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                                    <footer>Natalie Jenkins</footer>
                                </aside>
                            </blockquote>
                        </div><!-- /.testimonials-carousel -->
                    </section><!-- /#testimonials -->
                </section><!-- /#about-us -->
            </div><!-- /.col-md-12 -->
            <!-- end About Us -->
            <!-- Sidebar goes here -->
            <!-- end Sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->