<!-- main -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
    
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Story</a></li>
                <li class="nav-item"><a class="nav-link" href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Image</a></li>
                <li class="nav-item"><a class="nav-link" href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Video</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Stream</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li> -->
              </ul>
    
              <form class="tab-content p-t-20">
                <div class="tab-pane active" id="forum" role="tabpanel">
                  <!-- form -->
                  <mat-form-field>
                    <mat-label>Select to contribute</mat-label>
                    <mat-select [(ngModel)]="selectedid" name="category_id" (ngModelChange)="dataChanged($event)">
                      <mat-option value="" selected></mat-option>
                      <mat-option *ngFor="let r of res" [value]="r.id">
                        {{r.actname}}
                      </mat-option>                              
                    </mat-select>                           
                  </mat-form-field>
                  <div class="form-group">
                    <!-- <label for="submit-location">Category</label><br> -->
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select [(ngModel)]="form.category_id" name="category_id">
                      <mat-option value="" selected></mat-option>
                      <mat-option *ngFor="let cat of response" [value]="cat.id">
                        {{cat.catname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                  <div class="form-group">
                    <label for="title">Location</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="form.location" name="location" placeholder="Enter location">
                    <!-- <small class="form-text">Others will se when reach your topic (max 50 character).</small> -->
                  </div>
                  <div class="form-group">
                    <label for="description">Title Name </label>
                    <input type="text" class="form-control" id="description" placeholder="Name / Tittle" [(ngModel)]="form.name_title" name="name_title" required>
                    <!-- <small class="form-text">Short Description about your topic content.</small> -->
                  </div>
                  <div *ngIf="getLength()">
                    <div [formGroup]="orderForm" >
                    <div  *ngFor="let i of items">
                        <div class="form-group">
                            <label for="description">Header</label>
                            <input type="text" class="form-control" id="description" placeholder="Header" value="{{i.header}}"  formControlName="header"  required>
                            <!-- <small class="form-text">Short Description about your topic content.</small> -->
                          </div>
                          <div class="form-group m-t-25">
                              <label for="description">Content</label>

                            <textarea   name="content" rows="8" style="width: 100%"  formControlName="content">{{i.content}}</textarea>
                            <!-- <textarea id="summernote" [(ngModel)]="form.contents" name="contents">cnxvcxnvcmn</textarea> -->
                            <!-- <small class="form-text">Others will se when reach your topic (max 50 character).</small> -->
                          </div>
                          <div class="form-group">
                            <label for="description">Quote </label>
                            <input type="text" class="form-control" id="description" placeholder="Quote" formControlName="quote" value="{{i.quote}}" required>
                            <!-- <small class="form-text">Short Description about your topic content.</small> -->
                          </div>
                          <div class="form-group">

                            <img src="{{i.c_image}}" style="width: 20%;">
                            </div>
                          <input type="button"  class="btn btn-primary btn-sm" (click)="deleteItem(i.id)" value="Remove Details">

                    </div></div></div>
                  
                 
                    <div [formGroup]="orderForm">
                    <div class="form-group">
                        <label for="description">Header</label>
                        <input type="text" class="form-control" id="description" placeholder="Header" formControlName="header" required>
                        <!-- <small class="form-text">Short Description about your topic content.</small> -->
                      </div>
                      <div class="form-group m-t-25">
                          <label for="description">Content</label>

                        <textarea  formControlName="content" rows="8" style="width: 100%"></textarea>
                        <!-- <textarea id="summernote" [(ngModel)]="form.contents" name="contents">cnxvcxnvcmn</textarea> -->
                        <!-- <small class="form-text">Others will se when reach your topic (max 50 character).</small> -->
                      </div>
                      <div class="form-group">
                        <label for="description">Quote *</label>
                        <input type="text" class="form-control" id="description" placeholder="Quote" formControlName="quote" required>
                        <!-- <small class="form-text">Short Description about your topic content.</small> -->
                      </div>
                      <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                              <label for="submit-area">content image *</label>
                              <div class="input-group">
                                  <input id="file-upload" type="file" class="file"  data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFile($event)">
                                  <!-- <span class="input-group-addon">m<sup>2</sup></span> -->
                              </div>
                          </div><!-- /.form-group -->
                      </div>
</div>
 <button class="btn btn-default  btn-rounded btn-shadow float-right" (click)="addItem()">Add content</button>                               

                </div>
                <div class="tab-pane" id="gallery" role="tabpanel">
                  <!-- <div class="form-group row">
                    <div class="col-6">
                      <label for="date">Publish Date:</label>
                      <input type="text" class="form-control flatpickr flatpickr-input active" id="date" placeholder="Pick a date">
                    </div>
                  </div> -->

                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="submit-area">Gallery</label>
                        <div class="input-group">
                            <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-default" data-browse-label="Browse Images" (change)="uploadFiles($event)">
                            <!-- <span class="input-group-addon">m<sup>2</sup></span> -->
                        </div>
                    </div><!-- /.form-group -->
                </div>
                  <!-- <div class="form-group">
                    <label for="">Enable Replies</label>
                    <div><input type="checkbox" class="js-switch" checked></div>
                  </div> -->
             
                </div>
                <div class="tab-pane" id="videos" role="tabpanel">
                 
                  <!-- <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="submit-area">Videos</label>
                        <div class="input-group">
                            <input id="file-upload" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="video/mp4" data-browse-class="btn btn-default" data-browse-label="Browse Videos" (change)="uploadVideos($event)">
                        </div>
                    </div>
                    
                </div> -->
                <div class="form-group">
                  <label for="description">Video Link</label>
                  <input type="text" class="form-control" id="description" placeholder="Enter video link" [(ngModel)]="form.videos" name="videos" >
                </div>
                <button type="submit" (click)="onSubmit()" [disabled]= "disabled" class="btn btn-default btn-rounded btn-shadow float-right" >
                  <i id="loader2" *ngIf="disabled"  class="fa fa-spin fa-spinner"></i> {{sav}}</button>
                </div>
                <div class="tab-pane" id="options" role="tabpanel">
                 

                  
                  <div class="form-group">
                    <label for="">Enable Replies</label>
                    <div><input type="checkbox" class="js-switch" checked></div>
                  </div>
                </div>
                <div class="m-t-30">

                        
                  <!-- <button class="btn btn-primary btn-rounded btn-shadow float-right" type="submit" name="save">Submit</button> -->

            
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- /main -->
      
