<!-- header -->
<header id="header">
        <div class="container">
          <div class="navbar-backdrop">
            <div class="navbar">
              <div class="navbar-left">
                <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
                <a [routerLink]="['/home']" class="logo"><img src="assets/img/logo.png" alt="Sabi-Ogun"></a>
                <nav class="nav">
                  <ul>
                        
                    <li><a href="/home" [routerLink]="['/home']">Home</a> </li>
                    <li><a href="/Platform" [routerLink]="['/Platform']">Platform</a></li>                      
                    <li><a href="/About" [routerLink]="['/About']">About</a></li>
                    <li><a href="/Contact" [routerLink]="['/Contact']">Contact</a></li>
                    <li><a href="/Post" [routerLink]="['/User', {outlets: {side: ['Post']}}]" *ngIf="loggedIn" >Contribute</a></li>                  
                    <li><a href="/Login" [routerLink]="['/Login']" *ngIf="!loggedIn" >Contribute</a></li>  
                    <li><a href="/map" [routerLink]="['/map']">Map</a></li>  
                  </ul>
                </nav>
              </div>
              <div class="nav navbar-right">
                <ul> 
                  <li><a href="/Login" [routerLink]="['/Login']" *ngIf="!loggedIn">Login</a></li>
                  <li class="dropdown dropdown-profile" *ngIf="loggedIn">
                          
                      <a  data-toggle="dropdown"><img [src]='image' alt=""> <span>{{response.firstname}}</span></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item active" [routerLink]="['/User', {outlets: {side: ['Details']}}]"><i class="fa fa-user"></i> Profile</a>
                        <a class="dropdown-item" [routerLink]="['/Platform']"><i class="fa fa-envelope-open"></i>Platform</a>
                        <a class="dropdown-item"[routerLink]="['/User', {outlets: {side: ['Mypost']}}]"><i class="fa fa-heart"></i>My Story</a>
                        <a class="dropdown-item" [routerLink]="['/User', {outlets: {side: ['Profile']}}]"><i class="fa fa-cog"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout($event)"><i class="fa fa-sign-out"></i> Logout</a>
                      </div>
                    </li>
                    <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>                       

              </ul>
              </div>
            </div>
          </div>
         
          <div class="navbar-search" (submit)="search()">
            <div class="container">
              <form method="post">
                <input type="text" class="form-control" placeholder="Search..." (keyup) = 'locateMe($event)' [formControl]="control" [matAutocomplete]="auto">
                <i class="fa fa-times close"></i>
                <div class="card _card d-none">                
                   <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                  <a href="/Content/{{street}}"> {{street}} </a>
                  </mat-option>
              </mat-autocomplete>
                </div>       
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- /header -->

            <div >
                <router-outlet></router-outlet>
            </div>

      <!-- footer -->
  <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <h4 class="footer-title">About Sabi-Ogun</h4>
              <p>Ogun State culture has a rich culture with formidable background that requires preservation and promotion which will not
                    happen effectively without the leverage of technology and DEAG intervention.</p>

                    <h4 class="footer-title">Contact</h4>
                    <p>DEAG Foundation<br>
                        Ogun State</p>                         
                    +234 (080) 73351737<br>
                    <a href="#">contact@deag.org</a>
            </div>
            <div class="col-sm-12 col-md-3">
              <h4 class="footer-title">Platform</h4>
              <div class="row">
                <div class="col">
                  <ul  *ngFor="let r of res">
                    <li><a rounterlink="" (click)="navigate(r.id)">{{r.actname}}</a></li>                    
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <!-- <li><a href="games.html">Games</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                    <li><a href="videos.html">Videos</a></li>
                    <li><a href="forums.html">Forums</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <h4 class="footer-title">Subscribe</h4>
              <p>Subscribe to our newsletter and get notification when new Contribution are available on Sabiogun.</p>
              <div class="input-group m-t-25">
                <input type="text" class="form-control" placeholder="Email">
                <span class="input-group-btn">
                <button class="btn btn-success" type="button">Subscribe</button>
              </span>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-social">
              <a target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
              <a target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
              <a target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
              <a target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
              <a target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
            </div>
            <p>Copyright &copy; 2019 <a href="">Sabiogun</a>. All rights reserved.</p>
          </div>
        </div>
      </footer>
      <!-- /footer -->