<!-- main -->
<section class="hero" style="background-image: url('assets/img/SC.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="hero-block">
      <h2 class="hero-title">What do you know about Ogun State </h2>
      <p>Share your story.</p>
      <a class="btn btn-primary btn-lg btn-shadow btn-md btn-rounded" [routerLink]="['/User', {outlets: {side: ['Post']}}]" role="button" *ngIf="loggedIn" >Contribute</a>
      <a class="btn btn-primary btn-lg btn-shadow btn-md btn-rounded" [routerLink]="['/Login']" role="button" *ngIf="!loggedIn">Contribute</a>
    </div>
  </div>
</section>
<section class="toolbar toolbar-links" data-fixed="true">
  <div class="container" (submit)="search()">
    <h5 class="m-r-30">Recent Contribution</h5>
    <form method="post" class="hidden-lg-down" >
      <div class="form-group input-icon-right">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-control-secondary" placeholder="Type to search..." (keyup) = 'locateMe($event)' [formControl]="control" [matAutocomplete]="auto">
      </div>
      <div class="card _card d-none">                
        <mat-autocomplete #auto="matAutocomplete">
       <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
       <a href="/Content/{{street}}"> {{street}} </a>
       </mat-option>
   </mat-autocomplete>
     </div>       
    </form>   
  </div>
</section>

<section class="p-t-40 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="toolbar-custom">
          <a class="btn btn-default btn-icon btn-sm m-r-10 float-left hidden-xs-down" (click)="refresh()" data-toggle="tooltip" title="refresh" data-placement="bottom" role="button"><i class="fa fa-refresh"></i></a>
          <div class="dropdown float-left">
            <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categories<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-menu">
                <div  *ngFor="let ract of res"><a class="dropdown-item"  routerlink="" (click)="navigate(ract.id)">{{ract.actname}}</a></div>    
            </div>
          </div>
        </div> 
      
        <div class="post post-card" *ngIf="loading">
        <div class="post post-md">
            <div class="post-thumbnail">
              <a href="blog-post-medium.html"><img src="assets/img/loading.gif" alt="LC Launch"></a>
            </div>
            <div class="post-block">              
              <div class="post-meta">
                  <img  width="50%" src="assets/img/loading.gif" alt="">
              </div>              
            </div>
          </div>
        </div>

        <div class="post post-card" *ngIf="loading">
            <div class="post post-md">
                <div class="post-thumbnail">
                  <a href="blog-post-medium.html"><img src="assets/img/loading.gif" alt="LC Launch"></a>
                </div>
                <div class="post-block">              
                  <div class="post-meta">
                      <img  width="50%" src="assets/img/loading.gif" alt="">
                  </div>              
                </div>
              </div>
            </div>

            <div class="post post-card" *ngIf="loading">
                <div class="post post-md">
                    <div class="post-thumbnail">
                      <a href="blog-post-medium.html"><img src="assets/img/loading.gif" alt="LC Launch"></a>
                    </div>
                    <div class="post-block">              
                      <div class="post-meta">
                          <img  width="50%" src="assets/img/loading.gif" alt="">
                      </div>              
                    </div>
                  </div>
                </div>

                <div class="post post-card" *ngIf="loading">
                    <div class="post post-md">
                        <div class="post-thumbnail">
                          <a href="blog-post-medium.html"><img src="assets/img/loading.gif" alt="LC Launch"></a>
                        </div>
                        <div class="post-block">              
                          <div class="post-meta">
                              <img  width="50%" src="assets/img/loading.gif" alt="">
                          </div>              
                        </div>
                      </div>
                    </div>

        <!-- post -->
        <div class="post post-card" *ngFor="let all of article | paginate: {itemsPerPage: 10, currentPage: p}">
           
          <div class="post post-md" >
          <div class="post-thumbnail">
            <a href="Content/{{all.id}}" (click)="nav(all.id)"><img  width="100%" height="180" src="{{appUrl}}{{all.t_image}}" alt=""></a>
            <!-- <img src="assets/img/loading.gif" class="lazy" data-src="assets/img/SC.jpg" [src]="image" width="240" height="152"> -->
          </div>
          <!-- <div class="post-thumbnail">
            <a href="Content/{{all.id}}" (click)="nav(all.id)"><img *ngFor="let image of all.t_image" alt="" [defaultImage]="defualtImage" [lazyLoad]="image" [offset]="offset" style="max-width:100px; margin:30px; width: 200px;"></a>
          </div> -->
          <div class="post-block">
            <div class="post-header">
              <div>
              <a href="Content/{{all.id}}" (click)="nav(all.id)">
                <img src="{{appUrl}}{{all.image}}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <h2 class="post-title"><a routerink="" (click)="nav(all.id)">{{all.name_title}}</a></h2>                  
                </h2>                
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> {{all.created_at}} by <a >{{all.firstname + ' '+ all.lastname}}</a></span>
                  <span *ngIf = "all.user_id != id"> <span *ngIf="loggedIn" ><a (click)="follow(all.id)" style="color: blue;" *ngIf="all.follow ==NULL || all.follow == 'Unfollowed'">Follow  </a>
                    <a (click)="unfollow(all.id)" style="color: blue;" *ngIf="all.follow == 'Following'">Following  </a></span></span>
                  <span><a ><i class="fa fa-comment-o"></i>{{all.comment_count}}</a></span>
                  <span><a ><i class="fa fa-eye"></i>{{all.views}}</a></span>
                </div>
              </div>
            </div>  
            <p>{{all.content | slice:0:200 }}....</p>
            <div class="post-footer"  *ngIf="!loggedIn">
              <a class="btn btn-secondary"  [routerLink]="['/Login']" role="button">Read More</a>
              <!-- <a class="float-right p-t-10"  (click)="follow(all.id)"><i class="fa fa-heart-o"></i> {{all.views}}</a> -->
              <!-- <a class="float-right p-t-10" (click)="likes(all.id)"><i class="fa fa-thumbs-up"></i> {{all.like}}</a> -->


              <a class="btn btn-secondary"  role="button" [routerLink]="['/Login']">{{ folllow }} </a>
              <a class="btn btn-secondary float-right p-t-10" (click)="likes(all.id)" [routerLink]="['/Login']"><i class="fa fa-thumbs-o-up"></i> {{all.like}}</a>

            </div>
            
            <div class="post-footer"  *ngIf="loggedIn" >
             
              <!-- <div *ngFor="let cr of follows"> -->
              <a class="btn btn-secondary" (click)="nav(all.id)"  role="button">Read More</a>
              <!-- <a class="float-right p-t-10"  (click)="follow(all.id)"><i class="fa fa-heart-o"></i> {{all.views}}</a> -->
              <!-- <a class="float-right p-t-10" (click)="likes(all.id)"><i class="fa fa-thumbs-up"></i> {{all.like}}</a> -->

<!-- <div *ngIf="id != all.user_id"> -->
              <!-- <a class="btn btn-secondary" (click)="follow(all.id)" role="button"  *ngIf="cr.followed_user_id === all.user_id">folllowing  </a>
              <a class="btn btn-secondary" (click)="follow(all.id)" role="button"  *ngIf="cr.followed_user_id != all.user_id">{{ folllow }} </a> -->

              <a class="btn btn-secondary float-right p-t-10" (click)="likes(all.id)"><i class="fa fa-thumbs-o-up"></i> {{all.like}}</a>
<!-- </div> -->
<!-- </div> -->
            </div>
          </div>
        </div>
          </div>   
        <nav aria-label="Page navigation">
          <ul class="pagination">           
            <li class="page-item"><pagination-controls (pageChange)="p = $event" class="my-pagination text-info"></pagination-controls> </li>           
          </ul>
        </nav>
      </div>

      <!-- sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">        

          <!-- widget facebook -->
          <div class="widget">
            <h5 class="widget-title">Follow Us on Facebook</h5>
            <div id="fb-root"></div>
            <script async="" src="https://www.google-analytics.com/analytics.js"></script>
            <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-page" data-href="https://www.facebook.com/yakuthemes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
          </div>

          <!-- widget post -->
          <div class="widget widget-post">
            <h5 class="widget-title">Recent Contribution</h5>           
            <ul class="widget-list">              
               
              <li  *ngFor="let H of footer">
                <div class="widget-img"><a (click)="nav(H.id)"><img width="100%" height="80" src="{{appUrl}}{{H.t_image}}" alt=""></a></div>
                <div>
                  <h4><a routerink="" (click)="nav(H.id)">{{H.name_title}}</a></h4>
                  <span>{{H.created_at}}</span>
                </div>
              </li>             
            </ul>
          </div>

          <!-- widget newsletter -->
          <div class="widget widget-newsletter">
            <div class="widget-block" style="background-image: url('assets/img/3.jpg')">
              <div class="overlay"></div>
              <form>
                <p>Get notification when new Contribution are available on Sabiogun.</p>
                <div class="form-group input-icon-right">
                  <input type="email" class="form-control" placeholder="Email address...">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
              </form>
            </div>
          </div>
          <!-- widget tags -->         
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /main -->